 html.fonts-loaded body {
            font-family: "Roboto";
            font-size: 16px;
            font-weight: regular;
            color: #5a5a5a;
        }

        html.fonts-loaded h1,
        html.fonts-loaded h2 {
            font-family: "Raleway";
            font-size: 24px;
            font-weight: 800;
        }

        html.fonts-loaded h3 {
            font-family: "Raleway";
            font-weight: 500;
        }

        html.fonts-loaded h4 {
            font-family: "Raleway";
            font-weight: 700;
        }

        .banner-title,
        .page-banner-title .breadcrumb li,
        .page-banner-title .breadcrumb,
        .page-banner-title .breadcrumb li a {
            color: ;
        }

        a,
        .post-meta span i,
        .entry-header .entry-title a:hover,
        .sidebar ul li a:hover,
        .navbar.navbar-light ul.navbar-nav>li ul.dropdown-menu li:hover a,
        .elementor-widget-exhibz-latestnews .post:hover .post-body .entry-header .entry-title a,
        .btn-link:hover,
        .footer-menu ul li a:hover,
        .schedule-tabs-item .schedule-listing-item .schedule-slot-time,
        .navbar.navbar-light ul.navbar-nav>li ul.dropdown-menu li .dropdown-item.active {
            color: #ff007a;
        }

        a:hover,
        .navbar.navbar-light ul.navbar-nav>li ul.dropdown-menu li.active a {
            color: #3b1d82;
        }

        .hero-form-content {
            border-top-color: #ff007a;
        }

        .entry-header .entry-title a,
        .ts-title,
        h1,
        h2,
        h3,
        h4,
        h5,
        .elementor-widget-exhibz-latestnews .post .post-body .entry-header .entry-title a,
        .blog-single .post-navigation h3,
        .entry-content h3 {
            color: #283747;
        }

        body {
            background-color: #fff;
        }

        body {
            background-image: url();
            ;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        body,
        .post-navigation span,
        .post-meta,
        .post-meta a {
            color: #5a5a5a;
        }

        .single-intro-text .count-number,
        .sticky.post .meta-featured-post,
        .sidebar .widget .widget-title:before,
        .pagination li.active a,
        .pagination li:hover a,
        .pagination li.active a:hover,
        .pagination li:hover a:hover,
        .sidebar .widget.widget_search .input-group-btn,
        .tag-lists a:hover,
        .tagcloud a:hover,
        .BackTo,
        .ticket-btn.btn:hover,
        .schedule-listing .schedule-slot-time,
        .btn-primary,
        .navbar-toggler,
        .schedule-tabs-item ul li:before,
        .btn,
        .btn-primary,
        .wp-block-button .wp-block-button__link:not(.has-background),
        .ts-single-speaker .ts-social-list li a,
        .header-fullwidth .header-fullwidth-nav .navbar.navbar-light ul.navbar-nav>li>a:before,
        .ts-footer-social ul li a:hover,
        .ts-schedule-nav ul li a.active,
        .elementor-widget-accordion .elementor-accordion .elementor-accordion-item .elementor-active,
        .ts-speakers-style4 .ts-speaker .ts-speaker-info .ts-title,
        .testimonial-thumb .quote-icon,
        .schedule-tab-wrapper .etn-schedule-speaker .etn-schedule-single-speaker .etn-schedule-speaker-title,
        .etn-btn,
        .attr-btn-primary,
        .etn-ticket-widget .etn-btn,
        .post .play-btn.video-btn,
        .testimonial-item .testimonial-body .client-info .client-name::before,
        .ts-schedule-alt .schedule-listing .multi-speaker-2 .speaker-content .schedule-speaker,
        #preloader,
        .woocommerce div.product form.cart .button,
        .woocommerce ul.products li.product .added_to_cart,
        .sidebar.sidebar-woo .woocommerce-product-search button,
        .woocommerce table.cart td.actions button.button,
        .woocommerce a.button,
        .woocommerce button.button.alt,
        .woocommerce table.cart td.actions button.button:hover,
        .woocommerce a.button:hover,
        .woocommerce button.button.alt:hover,
        .woocommerce .checkout-button.button.alt.wc-forward,
        .woocommerce .woocommerce-Reviews #review_form #respond .form-submit input,
        .woocommerce span.onsale,
        .sinlge-event-registration,
        .etn_exhibz_inline_form_top .btn.btn-primary,
        .ts-event-archive-wrap .etn-event-item .ts_etn_thumb_meta_wraper .ts-event-term,
        .etn_load_more_button span {
            background: #ff007a;
        }

        .ts-map-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active a,
        .wp-block-quote:before,
        .blog-single .post-navigation .post-next a:hover,
        .blog-single .post-navigation .post-previous a:hover,
        .archive .ts-speaker:hover .ts-title a,
        .post-navigation span:hover,
        .post-navigation h3:hover,
        .etn-event-single-content-wrap .etn-event-meta .etn-event-category span,
        .etn-schedule-wrap .etn-schedule-info .etn-schedule-time,
        .footer-area .ts-footer-3 .footer-widget h3 {
            color: #ff007a;
        }

        .ts-map-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active a,
        .ts-map-tabs .elementor-tabs-wrapper .elementor-tab-title a:before,
        .schedule-tabs-item .schedule-listing-item:after,
        .ts-gallery-slider .owl-nav .owl-prev,
        .ts-gallery-slider .owl-nav .owl-next,
        .ts-schedule-alt .ts-schedule-nav ul li a.active {
            border-color: #ff007a;
        }

        .ts-schedule-alt .ts-schedule-nav ul li a::before,
        .schedule-tab-wrapper .attr-nav li:after,
        .schedule-tab-wrapper .etn-nav li a:after,
        .schedule-tab-wrapper .etn-schedule-speaker .etn-schedule-single-speaker .etn-schedule-speaker-title:after,
        .ts-schedule-alt .schedule-listing .multi-speaker-2 .speaker-content .schedule-speaker::after {
            border-color: #ff007a transparent transparent transparent;
        }

        .ts-schedule-nav ul li a:before {
            border-color: transparent #ff007a transparent transparent;
        }

        blockquote.wp-block-quote,
        .wp-block-quote,
        .wp-block-quote:not(.is-large):not(.is-style-large),
        blockquote.wp-block-pullquote,
        .wp-block-quote.is-large,
        .wp-block-quote.is-style-large,
        blockquote,
        .wp-block-quote:not(.is-large),
        .wp-block-quote:not(.is-style-large),
        .wp-block-pullquote:not(.is-style-solid-color) {
            border-left-color: #ff007a;
        }

        .schedule-tab-wrapper .attr-nav li.attr-active,
        .schedule-tab-wrapper .etn-nav li a.etn-active,
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
            border-bottom-color: #ff007a;
        }

        .woocommerce ul.products li.product .added_to_cart:hover,
        .nav-center-logo .navbar.navbar-light .collapse.justify-content-end ul.navbar-nav>li.nav-ticket-btn>a,
        .woocommerce #respond input#submit.alt:hover,
        .woocommerce a.button.alt:hover,
        .woocommerce button.button.alt:hover,
        .woocommerce input.button.alt:hover {
            background-color: #ff007a;
        }

        .woocommerce ul.products li.product .button,
        .woocommerce ul.products li.product .added_to_cart,
        .woocommerce nav.woocommerce-pagination ul li a:focus,
        .woocommerce nav.woocommerce-pagination ul li a:hover,
        .woocommerce nav.woocommerce-pagination ul li span.current,
        .woocommerce #respond input#submit.alt,
        .woocommerce a.button.alt,
        .woocommerce button.button.alt,
        .woocommerce input.button.alt,
        .sponsor-web-link a:hover i {
            background-color: #ff007a;
            color: #fff;
        }

        .ts-single-speaker .ts-social-list li a:hover,
        .etn-ticket-widget .etn-btn:hover,
        .ts-speakers-style4 .ts-speaker .ts-speaker-info p {
            background: #3b1d82;
        }


        .ticket-btn.btn {
            background-color: #00c1c1;
        }

        @media (min-width: 1200px) {

            .sticky.header-transparent,
            .div,
            .sticky.header-classic {
                background: #1a1831;
            }
        }


        .ts-footer {
            background-color: #1a1831;
            padding-top: 295px;
            background-image: url();
            ;
        }